
<table mat-table [dataSource]="tasks" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Titulo</th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Descripción</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <ng-container matColumnDef="dueDate">
    <th mat-header-cell *matHeaderCellDef>Fecha de vencimiento</th>
    <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
  </ng-container>
  <ng-container matColumnDef="isCompleted">
    <th mat-header-cell *matHeaderCellDef>Completado</th>
    <td mat-cell *matCellDef="let element"> {{element.isCompleted}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element"> {{element.actions}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
</table>
 
        @for (task of tasks; track task.id) {
            <tr>
                <th scope="row">{{task.title}}</th>
                <td>{{task.description}}</td>
                <td>{{task.dueDate}}</td>
                <td>{{task.isCompleted}}</td>
            </tr>  
        }          
