<mat-toolbar>
    <span>Gestión de tareas</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

<router-outlet />