<div class="tasks-container">  
  <section>
    <div class="example-label">Tareas</div>
    <div class="example-button-row">
      <button mat-raised-button>Crear tarea  <mat-icon>add</mat-icon>
      </button>     
    </div>
  </section>
  <mat-card appearance="outlined">    
    <mat-card-content>
        <app-tasks-list />
    </mat-card-content>   
  </mat-card>
</div>
