:host{
  display: flex;
  justify-content: center;
}

.tasks-container {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    justify-items: center;
    max-width: fit-content;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    /* margin-left: 8px; */
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    justify-content: flex-end;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
 