.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container-login form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 10px;
}

.error {
  padding: 16px;
  color: white;
  background-color: red;
}

mat-form-field {
  width: 100%;
}