<div class="container-login"  >
  <mat-card>
    <mat-card-header>
      <mat-card-title>Inicio de sesión</mat-card-title>
      <mat-card-subtitle>Ingresa tus credenciales</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input type="email" formControlName="email" matInput />
          @if(form.get('email')?.hasError('required') &&
          form.get('email')?.touched){
          <mat-error> El correo es requerido </mat-error>
          }
          @if(form.get('email')?.hasError('email') &&
          form.get('email')?.touched){
          <mat-error> El correo es invalido </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="password"
          />
          @if(form.get('password')?.hasError('required') &&
          form.get('password')?.touched){
          <mat-error>La contraseña es requerida</mat-error>
          }
        </mat-form-field>
        @if(error){
        <div class="error">{{ error }}</div>
        }
        <div class="button">
          <button type="submit" mat-button>Iniciar sesión</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
