<form [formGroup]="form" (ngSubmit)="onSubmit()">    
    <div class="mb-3">
        <label>Usuario</label>
        <input type="text" class="form-control" formControlName="userName">
    </div>
    <div class="mb-3">
        <label>Correo</label>
        <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="mb-3">
        <label>Confirmar contraseña</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
    </div>
    <input type="submit" value="Registrarse" class="btn btn-info">
</form>
